.inputBox {
  border-radius: 10px;
  position: relative;
  margin-bottom: 16px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.inputBox input {
  background: #fff;
  border: none;
  border-radius: 10px;
  position: relative;
  width: 100%;
  font-size: 16px;
  padding: 16px;
}

.inputBox a {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  background: #333333;
  border-radius: 10px;
  top: 5px;
  right: 6px;
  padding: 10px;
}
